.container {
  height: 100%;

  &.loading {
    display: flex;
    flex-direction: column;

    .content {
      display: flex;
      flex: 1;
      align-items: center;
      justify-content: center;
      padding-bottom: 20%;
    }
  }
}

.content {
  padding: 0 50px;
}
