@import 'variables';

.container {
  height: 100%;
  width: 100%;
  background-image: url('images/avocado-logo-small.png');
  background-repeat: no-repeat;
  background-size: 69.5px 54px;
  background-position: right 25px bottom 25px;
}

.content {
  padding: 50px 75px;

  h1 {
    margin-bottom: 35px;

    &:after {
      content: '';
      width: 35px;
      height: 5px;
      background: var(--color-gray);
      display: block;
      margin-top: 5px;
      opacity: 0.2;
    }
  }
}
